@{
    ViewData["Title"] = "Confirm email";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <p style="color: #FFF; text-align: center; font-size: 20px;">Пошта успішно підтверджена. Очікуйте автоматичного переходу до авторизації. "Таймер сюди"</p>
    </div>
</section>
