<head>
    <link rel="stylesheet" href="~/css/FAQ.css" asp-append-version="true" />
</head>
<section class="faq faq-head">
    <h2>Поширені запитання</h2>
    <h3>Відповіді на всі ваші запитання в одному місці</h3>
</section>
<section class="faq faq-menu">
    <h4 name="faq-up" id="faq-up">Деякі з ваших запитань:</h4>
    <div class="container">
        <p><a href="#question1" class="triangle-text">1. Хто ви?</a></p>
        <p><a href="#question2" class="triangle-text">2. Який пароль?</a></p>
        <p><a href="#question3" class="triangle-text">3. Хто може скористатися вашими послугами?</a></p>
        <p><a href="#question4" class="triangle-text">4. Як вице робите?</a></p>
        <p><a href="#question5" class="triangle-text">5. Чи можете ви гарантувати відновлення мого пароля?</a></p>
        <p><a href="#question6" class="triangle-text">6. Це безкоштовно?</a></p>
        <p><a href="#question7" class="triangle-text">7. Що означає "Не знайдено" та "У процесі"?</a></p>
        @*<p><a href="#question8" class="triangle-text">8. Ви що, шахраї?!</a></p>
        <p><a href="#question9" class="triangle-text">9. Гарантую.</a></p>
        <p><a href="#question10" class="triangle-text">10. Скільки часу займе спроба?</a></p>
        <p><a href="#question11" class="triangle-text">11. Чому ми обрали саме вас?</a></p>
        <p><a href="#question12" class="triangle-text">12. Як я дізнаюся, що ви його відновите?</a></p>
        <p><a href="#question13" class="triangle-text">13. Що означає "HEX[xxxxxx]"?</a></p>
        <p><a href="#question14" class="triangle-text">14. Політика повернення коштів</a></p>
        <p><a href="#question15" class="triangle-text">15. Зберігання даних</a></p>
        <p><a href="#question16" class="triangle-text">16. Верифікація / активація електронної пошти</a></p>
        <p><a href="#question17" class="triangle-text">17. Чи є там корисний API?</a></p>
        <p><a href="#question18" class="triangle-text">18. Баг Баунті</a></p>
        <p><a href="#question19" class="triangle-text">19. Політика конфіденційності</a></p>
        <p><a href="#question20" class="triangle-text">20. Загальні положення та умови</a></p>*@
    </div>
    <div class="row">
        <i class="fas fa-circle col-1 circle"></i>
        <hr class="col-11 line-circle">
    </div>
</section>
<div class="faq faq-question">
    <div class="row">
        <h3><a name="question1" id="question1">1. Хто ви?</a></h3>
        <p>
            Відновлення пароля - це процес визначення втраченого, знищеного або недоступного з інших причин пароля, що дозволяє успішно розшифрувати ключові файли. Ця послуга може бути дуже важливою, якщо ви втратили важливі бази даних, електронні таблиці, документи та інші файли через шифрування.
            OnlineHashCrack.com (цей веб-сайт) надає професійний сервіс, який намагається відновити ці втрачені паролі (хеші типу MD5 і т.д.), рукостискання Wifi WPA, зашифровані файли Microsoft Office. Ми знаходимося в Європі.
            Ми пропонуємо досвідчене відновлення паролів для всіх типів комп'ютерних систем. Протягом декількох годин або днів ми можемо відновити втрачені паролі або повністю розшифрувати файли.
        </p>
        <p>
            Ми НЕ є хакерським сайтом, ми НЕ зламуємо веб-сайти, і ми припускаємо, що всі надані хеші призначені лише для тестування АБО отримані законним шляхом (наприклад, пентест, аудит, перевірка на міцність і т.д.), і ви маєте дозвіл на відновлення відкритого тексту перед завантаженням на наш сайт.
        </p>
        <p>
            Користуючись нашим сервісом/сайтом, ви підтверджуєте, що не порушуєте жодних законів чи правил (зокрема, щодо авторських прав та конфіденційності), які існують у вашій країні та/або юрисдикції (але не обмежуючись ними).
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question2" id="question2">2. Які типи хешів ми підтримуємо?</a></h3>
        <p>
            Ми використовуєму консольну утеліту Hashcat яка підтримує більшість алгоритмів хешування, приклади таких алгоритмів ви можете побачити на їх офіційному сайті <a class="text-decoration-none" href="https://hashcat.net/wiki/doku.php?id=example_hashes">тут</a>.
         </p>
        <p style="padding: 5px;">
            Як працює сервіс?.
        </p>
        <p style="padding: 5px;">
            1. Користувач вводить хеші який його цікавлять в текстове вікно на головній сторінці нашого сайту. Якщо пароль є в нашій базі, то ви отримуєте пароль безкоштовно.
            2. Якщо ж ваш пароль треба розшифрувати, то ви можете пройти реєстрацію, поповнити баланс та, використовуючи наш сервіс (брут), отримати результат за певні кошти. (на період дипломування 1 цент в секунду)
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question3" id="question3">3. Хто може користуватися вашими послугами?</a></h3>
        <ul>
            <li>Основними користувачами можуть бути:</li>
            <li>- особи, які забули свій пароль;</li>
            <li>- особи, які бажають перевірити надійність власного пароля;</li>
        </ul>
        <p>
            Переважно корпоративні користувачі: експерти з ІТ-безпеки, тестувальники проникнення, аудитори, консультанти, правоохоронні органи, слідчі, дослідники, криміналісти тощо, які мають юридичний контракт та згоду власника.
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question4" id="question4">4. Як ви це робите?</a></h3>
        <p>
            Ми використовуємо консольну утиліту Hashcat, яка вважається найшвидшим інструментом відновлення паролів. За рахунок цього більшість паролів вам вдасться відновити за лічені хвилини.
        </p> 
        <p>
            Пряма підтримка електронною поштою, з реальними людьми!
        </p>
        <p>
            Крім того, слабкі паролі легко відновити. Ви можете перевірити, наскільки надійним є ваш пароль і як швидко його можна відновити.
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question5" id="question5">5. Чи можете ви гарантувати відновлення мого пароля?</a></h3>
        <p>
            Ні, складний пароль, що містить цифри, спеціальні символи та/або має велику довжину, може бути не відновлений.
        </p>
        <p>
            На щастя, ми відновлюємо переважну більшість паролів.
        </p>
        <ul>
            <li>Основні фактори, які впливають на відновлення пароля, включають:</li>
            <li>Довжина пароля</li>
            <li>Кодування, яке могло бути використано</li>
            <li>Тип шифрування або хешування</li>
        </ul>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question6" id="question6">6. Це безкоштовно?</a></h3>
        <p>
            Це залежить від того чи є в нашій базі пароль який ви намагаєтесь відновити, то так - це безкоштовно. Якщо ж ні, то це буде вартувати за час використання сервісу.
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question7" id="question7">7. Що означає "Не знайдено" та "У процесі"?</a></h3>
        <ul>
            <li>"Не знайдено" - на жаль ваш пароль занадто складний і ми не в змозі його відновити.</li>
            <li>"У процесі" - перебір триває, зверніть увагу на колонки "орієнтовний час завершення" та "Залишилось часу".</li>
        </ul>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
</div>
