<head>
    <link rel="stylesheet" href="~/css/FAQ.css" asp-append-version="true" />
</head>
<section class="faq faq-head">
    <h2>Поширені запитання</h2>
    <h3>Відповіді на всі ваші запитання в одному місці</h3>
</section>
<section class="faq faq-menu">
    <h4 name="faq-up" id="faq-up">Деякі з ваших запитань:</h4>
    <div class="container">
        <p><a href="#question1" class="triangle-text">1. Хто ви?</a></p>
        <p><a href="#question2" class="triangle-text">2. Який пароль?</a></p>
        <p><a href="#question3" class="triangle-text">3. Хто може скористатися вашими послугами?</a></p>
        <p><a href="#question4" class="triangle-text">4. Як ви це робите?</a></p>
        <p><a href="#question5" class="triangle-text">5. Чи можете ви гарантувати відновлення мого пароля?</a></p>
        <p><a href="#question6" class="triangle-text">6. Це безкоштовно?</a></p>
        <p><a href="#question7" class="triangle-text">7. Що означає "Не знайдено" та "У процесі"?</a></p>
        <p><a href="#question8" class="triangle-text">8. Ви що, шахраї?!</a></p>
        <p><a href="#question9" class="triangle-text">9. Гарантую.</a></p>
        <p><a href="#question10" class="triangle-text">10. Скільки часу займе спроба?</a></p>
        <p><a href="#question11" class="triangle-text">11. Чому ми обрали саме вас?</a></p>
        <p><a href="#question12" class="triangle-text">12. Як я дізнаюся, що ви його відновите?</a></p>
        <p><a href="#question13" class="triangle-text">13. Що означає "HEX[xxxxxx]"?</a></p>
        <p><a href="#question14" class="triangle-text">14. Політика повернення коштів</a></p>
        <p><a href="#question15" class="triangle-text">15. Зберігання даних</a></p>
        <p><a href="#question16" class="triangle-text">16. Верифікація / активація електронної пошти</a></p>
        <p><a href="#question17" class="triangle-text">17. Чи є там корисний API?</a></p>
        <p><a href="#question18" class="triangle-text">18. Баг Баунті</a></p>
        <p><a href="#question19" class="triangle-text">19. Політика конфіденційності</a></p>
        <p><a href="#question20" class="triangle-text">20. Загальні положення та умови</a></p>
    </div>
    <div class="row">
        <i class="fas fa-circle col-1 circle"></i>
        <hr class="col-11 line-circle">
    </div>
</section>
<div class="faq faq-question">
    <div class="row">
        <h3><a name="question1" id="question1">1. Хто ви?</a></h3>
        <p>
            Відновлення пароля - це процес визначення втраченого, знищеного або недоступного з інших причин пароля, що дозволяє успішно розшифрувати ключові файли. Ця послуга може бути дуже важливою, якщо ви втратили важливі бази даних, електронні таблиці, документи та інші файли через шифрування.
            OnlineHashCrack.com (цей веб-сайт) надає професійний сервіс, який намагається відновити ці втрачені паролі (хеші типу MD5 і т.д.), рукостискання Wifi WPA, зашифровані файли Microsoft Office. Ми знаходимося в Європі.
            Ми пропонуємо досвідчене відновлення паролів для всіх типів комп'ютерних систем. Протягом декількох годин або днів ми можемо відновити втрачені паролі або повністю розшифрувати файли.
        </p>
        <p>
            Ми НЕ є хакерським сайтом, ми НЕ зламуємо веб-сайти, і ми припускаємо, що всі надані хеші призначені лише для тестування АБО отримані законним шляхом (наприклад, пентест, аудит, перевірка на міцність і т.д.), і ви маєте дозвіл на відновлення відкритого тексту перед завантаженням на наш сайт.
        </p>
        <p>
            Користуючись нашим сервісом/сайтом, ви підтверджуєте, що не порушуєте жодних законів чи правил (зокрема, щодо авторських прав та конфіденційності), які існують у вашій країні та/або юрисдикції (але не обмежуючись ними).
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question2" id="question2">2. Який пароль?</a></h3>
        <p>
            Повний список тут.
        </p>
        <p>
            Як працює сервіс? Виконайте кроки тут
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question3" id="question3">3. Хто може користуватися вашими послугами?</a></h3>
        <p>
            Користувачам нашого Сервісу ми пропонуємо два типи облікових записів: "Базовий" та "Корпоративний". Наш Базовий обліковий запис надає обмежені можливості та функції, в той час як Корпоративний обліковий запис пропонує необмежений доступ до Сервісу. Підтверджені корпоративні користувачі використовують наш Сервіс на підставі укладеного юридичного договору, наприклад, для проведення експертиз або аудиту, і мають доступ до ширшого спектру алгоритмів, що відповідають їхнім конкретним потребам у рамках налаштувань їхньої компанії.
            Важливо зазначити, що ці Умови застосовуються до всіх користувачів, незалежно від обраного типу облікового запису.
        </p>
        <p>
            Основним користувачем може бути :
        </p>
        <p>
            - особа, яка забула свій пароль (наприклад: пароль облікового запису Windows)
        </p>
        <p>
            - особа, яка хоче перевірити надійність власного пароля
        </p>
        <p>
            Переважно корпоративний користувач: Експерти з ІТ-безпеки, тестувальники проникнення, аудитори, консультанти, правоохоронні органи, слідчі, дослідники, криміналісти тощо, які мають юридичний контракт та згоду власника.
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question4" id="question4">4. Як ви це робите?</a></h3>
        <p>
            Наша розподілена система використовує кілька механізмів: попередньо розраховані таблиці, обчислення на GPU, величезні приватні та публічні списки слів, грубий перебір, гібридні атаки тощо для відновлення паролів. Переваги:
        </p>
        <p>
            Швидко (Мінімум: кілька секунд / Максимум: 5 днів)
        </p>
        <p>
            Можливість прискорити, якщо ви поспішаєте
        </p>
        <p>
            Безкоштовно або за низькою ціною: Ознайомтеся з нашою ціновою політикою
        </p>
        <p>
            Пряма підтримка електронною поштою, з реальними людьми!
            Крім того, слабкі паролі легко відновити. Ви можете перевірити, наскільки надійним є ваш пароль і як швидко його можна відновити.
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question5" id="question5">5. Чи можете ви гарантувати відновлення мого пароля?</a></h3>
        <p>
            Ні, складний пароль, що містить цифри, спеціальні символи та/або має велику довжину, може бути не відновлений.
        </p>
        <p>
            На щастя, ми відновлюємо переважну більшість паролів.
        </p>
        <p>
            Основні фактори, які впливають на відновлення пароля, включають:
        </p>
        <p>
            Довжина пароля
        </p>
        <p>
            Кодування, яке могло бути використано
        </p>
        <p>
            Тип шифрування або хешування
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question6" id="question6">6. Це безкоштовно?</a></h3>
        <p>
            Це залежить від складності пароля: все, що вам потрібно знати, знаходиться тут: цінова політика.
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
    <div class="row">
        <h3><a name="question7" id="question7">7. Що означає "Не знайдено" та "У процесі"?</a></h3>
        <p>
            Three states are possible:
        </p>
        <p>
            ТУТ МАЄ БУТИ, ТАБЛИЦЯ.
        </p>
    </div>
    <div class="row">
        <hr class="col-11 line-up">
        <a href="#faq-up" class="col-1"><i class="fas fa-chevron-up up"></i></a>
    </div>
</div>
