@model WebHashcat.Models.HashcatArguments
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/searchByDatabase.css" asp-append-version="true" />
</head>
<section>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-md-11">
                    <textarea class="form-control search-db-style" id="hashes" placeholder="Додайте свій хеш..."></textarea>
                </div>
                <div class="col-md-1 mt-3 mt-md-0">
                    <div class="d-grid">
                        <input class="btn btn-primary def-btn" id="searchPass" type="button" value="Пошук" />
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <p class="text-db"><strong>Color Codes: </strong> <mark style="background-color: green"> Green: </mark> Exact match, <mark style="background-color: yellow"> Yellow: </mark> Partial match, <mark style="background-color: red"> Red: </mark> Not found.</p>
            </div>
        </form>
    </div>
</section>
<section>
    @*<table id="table_search_db" class="table-db"></table>*@
    <table id="table_search_db" class="table-db">
        <thead>
            <tr>
                <th colspan="2">Хеш</th>
                <th colspan="3">Тип</th>
                <th colspan="2">Результат</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background: green" class="color-detector"></td>
                <td>Довгий текст, який може бути обрізаний для адаптивності</td>
                <td style="background: green" class="color-detector"></td>
                <td>Короткий текст</td>
                <td style="background: green" class="color-detector"></td>
                <td>Ще один текст, який може бути досить довгим, щоб виправдати адаптивність</td>
                <td style="background: green" class="color-detector"></td>
            </tr>
            <tr>
                <td style="background: yellow" class="color-detector"></td>
                <td>Довгий текст, який може бути обрізаний для адаптивності</td>
                <td style="background: yellow" class="color-detector"></td>
                <td>Короткий текст</td>
                <td style="background: yellow" class="color-detector"></td>
                <td>Ще один текст, який може бути досить довгим, щоб виправдати адаптивність</td>
                <td style="background: yellow" class="color-detector"></td>
            </tr>
            <tr>
                <td style="background: red" class="color-detector"></td>
                <td>Довгий текст, який може бути обрізаний для адаптивності</td>
                <td style="background: red" class="color-detector"></td>
                <td>Короткий текст</td>
                <td style="background: red" class="color-detector"></td>
                <td>Ще один текст, який може бути досить довгим, щоб виправдати адаптивність</td>
                <td style="background: red" class="color-detector"></td>
            </tr>
            <tr>
                <td style="background: red" class="color-detector"></td>
                <td>Довгий текст, який може бути обрізаний для адаптивності</td>
                <td style="background: red" class="color-detector"></td>
                <td>Короткий текст</td>
                <td style="background: red" class="color-detector"></td>
                <td>Ще один текст, який може бути досить довгим, щоб виправдати адаптивність</td>
                <td style="background: red" class="color-detector"></td>
            </tr>
        </tbody>
    </table> 
</section>
@*<table class="table">
    <thead>
        <tr>
            <th class="col-md-7 th" scope="col">Хеш</th>
            <th class="col-md-1 th" scope="col">Тип</th>
            <th class="col-md-4 th" scope="col">Результат</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*td as td ad td af col-md-7 col-md-1 col-md-4*@
            @*<td>a1d763f502ac82e15c36cdd9849eea897c6d2686275468e1cb54db724f5edd9d20097748e656a97ebce98d67c3a880b87a618b9d65b7d02314e094da036f5780</td>
            <td>Так</td>
            <td>adfsafasdfasf</td>
        </tr>
        <tr>
            <td>a1d763f502ac82e15c36cdd9849eea897c6d2686275468e1cb54db724f5edd9d20097748e656a97ebce98d67c3a880b87a618b9d65b7d02314e094da036f5782</td>
            <td>Так</td>
            <td>Ні</td>
        </tr>
        <tr>
            <td>a1d763f502ac82e15c36cdd9849eea897c6d2686275468e1cb54db724f5edd9d20097748e656a97ebce98d67c3a880b87a618b9d65b7d02314e094da036f5781</td>
            <td>Ні</td>
            <td>Ні</td>
        </tr>
    </tbody>
</table>*@
@*<div class="container_search_db">
    <form class="form_search_db">
        <textarea class="textarea_search_db" id="hashes" placeholder="Додайте свій хеш..."></textarea>
        <input class="btn_search_db" id="searchPass" type="button" value="Пошук"/>
    </form>
    <pre class="text_info1"><strong>Color Codes: </strong> <mark class="m1"> Green: </mark> Exact match, <mark class="m2"> Yellow: </mark> Partial match, <mark class="m3"> Red: </mark> Not found. </pre>
    <table class="table_search_db" id="table_search_db">
        @*<tr>
        <th class="th">Хеш</th>
        <th class="th">Тип</th>
        <th class="th">Результат</th>
        </tr>
        <tr>
        <td class="td" id="hash">afsfdas</td>
        <td class="td" id="hashType">Unknown</td>
        <td class="td" id="Value">Unrecognized hash format.</td>
        </tr>*@
    @*</table>
</div>*@

@*//////////////////////////////////////////////////Рекламні банери/////////////////////////////////////////////////////////*@
@*<div class="body_card">
    <div class="container">
        <div class="box">
            <div class="content">
                <h2>01</h2>
                <h3>Card Heading</h3>
                <p>Venenatis orci condimentum felis curae libero scelerisque rhoncus blandit, vivamus semper ad laoreet turpis pellentesque fringilla. Leo sapien placerat ac sollicitudin est potenti, pellentesque ornare velit scelerisque euismod sit curabitur, aptent nisi semper feugiat nisl. Non in ultricies suscipit purus parturient tristique posuere tincidunt, habitant fames ultrices ipsum metus lobortis hac tempus torquent, adipiscing felis eleifend lorem ac aptent ut. Efficitur massa pellentesque scelerisque ligula imperdiet maecenas curae hac torquent, posuere himenaeos luctus ornare egestas ac blandit nascetur, lacinia nunc arcu ipsum parturient vulputate quam potenti. Habitasse sed nam molestie netus inceptos, a mollis parturient dui per, iaculis ridiculus natoque ut.</p>
                <button>Read More</button>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Card Heading</h3>
                <p>Venenatis orci condimentum felis curae libero scelerisque rhoncus blandit, vivamus semper ad laoreet turpis pellentesque fringilla. Leo sapien placerat ac sollicitudin est potenti, pellentesque ornare velit scelerisque euismod sit curabitur, aptent nisi semper feugiat nisl. Non in ultricies suscipit purus parturient tristique posuere tincidunt, habitant fames ultrices ipsum metus lobortis hac tempus torquent, adipiscing felis eleifend lorem ac aptent ut. Efficitur massa pellentesque scelerisque ligula imperdiet maecenas curae hac torquent, posuere himenaeos luctus ornare egestas ac blandit nascetur, lacinia nunc arcu ipsum parturient vulputate quam potenti. Habitasse sed nam molestie netus inceptos, a mollis parturient dui per, iaculis ridiculus natoque ut.</p>
                <button>Read More</button>
            </div>
        </div>
        
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3>Card Heading</h3>
                <p>Venenatis orci condimentum felis curae libero scelerisque rhoncus blandit, vivamus semper ad laoreet turpis pellentesque fringilla. Leo sapien placerat ac sollicitudin est potenti, pellentesque ornare velit scelerisque euismod sit curabitur, aptent nisi semper feugiat nisl. Non in ultricies suscipit purus parturient tristique posuere tincidunt, habitant fames ultrices ipsum metus lobortis hac tempus torquent, adipiscing felis eleifend lorem ac aptent ut. Efficitur massa pellentesque scelerisque ligula imperdiet maecenas curae hac torquent, posuere himenaeos luctus ornare egestas ac blandit nascetur, lacinia nunc arcu ipsum parturient vulputate quam potenti. Habitasse sed nam molestie netus inceptos, a mollis parturient dui per, iaculis ridiculus natoque ut.</p>
                <button>Read More</button>
            </div>
        </div>
    </div>
</div>*@

<script src="~/js/searchDb.js"></script>