@model WebHashcat.Models.HashcatArguments
@{
    ViewData["Title"] = "Home Page";
}
<section></section>
<head>
    <link rel="stylesheet" href="~/css/searchByDatabase.css" asp-append-version="true" />
</head>

<div class="container_search_db">
    <form class="form_search_db">
        <textarea class="textarea_search_db" id="hashes" placeholder="Додайте свій хеш..."></textarea>
        <input class="btn_search_db" id="searchPass" type="button" value="Пошук"/>
    </form>
    <pre class="text_info1"><strong>Color Codes: </strong> <mark class="m1"> Green: </mark> Exact match, <mark class="m2"> Yellow: </mark> Partial match, <mark class="m3"> Red: </mark> Not found. </pre>
    <table class="table_search_db" id="table_search_db">
        @*<tr>
        <th class="th">Хеш</th>
        <th class="th">Тип</th>
        <th class="th">Результат</th>
        </tr>
        <tr>
        <td class="td" id="hash">afsfdas</td>
        <td class="td" id="hashType">Unknown</td>
        <td class="td" id="Value">Unrecognized hash format.</td>
        </tr>*@
    </table>
</div>

@*//////////////////////////////////////////////////Рекламні банери/////////////////////////////////////////////////////////*@
@*<div class="body_card">
    <div class="container">
        <div class="box">
            <div class="content">
                <h2>01</h2>
                <h3>Card Heading</h3>
                <p>Venenatis orci condimentum felis curae libero scelerisque rhoncus blandit, vivamus semper ad laoreet turpis pellentesque fringilla. Leo sapien placerat ac sollicitudin est potenti, pellentesque ornare velit scelerisque euismod sit curabitur, aptent nisi semper feugiat nisl. Non in ultricies suscipit purus parturient tristique posuere tincidunt, habitant fames ultrices ipsum metus lobortis hac tempus torquent, adipiscing felis eleifend lorem ac aptent ut. Efficitur massa pellentesque scelerisque ligula imperdiet maecenas curae hac torquent, posuere himenaeos luctus ornare egestas ac blandit nascetur, lacinia nunc arcu ipsum parturient vulputate quam potenti. Habitasse sed nam molestie netus inceptos, a mollis parturient dui per, iaculis ridiculus natoque ut.</p>
                <button>Read More</button>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Card Heading</h3>
                <p>Venenatis orci condimentum felis curae libero scelerisque rhoncus blandit, vivamus semper ad laoreet turpis pellentesque fringilla. Leo sapien placerat ac sollicitudin est potenti, pellentesque ornare velit scelerisque euismod sit curabitur, aptent nisi semper feugiat nisl. Non in ultricies suscipit purus parturient tristique posuere tincidunt, habitant fames ultrices ipsum metus lobortis hac tempus torquent, adipiscing felis eleifend lorem ac aptent ut. Efficitur massa pellentesque scelerisque ligula imperdiet maecenas curae hac torquent, posuere himenaeos luctus ornare egestas ac blandit nascetur, lacinia nunc arcu ipsum parturient vulputate quam potenti. Habitasse sed nam molestie netus inceptos, a mollis parturient dui per, iaculis ridiculus natoque ut.</p>
                <button>Read More</button>
            </div>
        </div>
        
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3>Card Heading</h3>
                <p>Venenatis orci condimentum felis curae libero scelerisque rhoncus blandit, vivamus semper ad laoreet turpis pellentesque fringilla. Leo sapien placerat ac sollicitudin est potenti, pellentesque ornare velit scelerisque euismod sit curabitur, aptent nisi semper feugiat nisl. Non in ultricies suscipit purus parturient tristique posuere tincidunt, habitant fames ultrices ipsum metus lobortis hac tempus torquent, adipiscing felis eleifend lorem ac aptent ut. Efficitur massa pellentesque scelerisque ligula imperdiet maecenas curae hac torquent, posuere himenaeos luctus ornare egestas ac blandit nascetur, lacinia nunc arcu ipsum parturient vulputate quam potenti. Habitasse sed nam molestie netus inceptos, a mollis parturient dui per, iaculis ridiculus natoque ut.</p>
                <button>Read More</button>
            </div>
        </div>
    </div>
</div>*@

<script src="~/js/searchDb.js"></script>