@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/searchByDatabase.css" asp-append-version="true" />
</head>

<section>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-md-11">
                    <textarea class="form-control search-db-style" id="hashes" placeholder="Додайте свій хеш..."></textarea>
                </div>
                <div class="col-md-1 mt-3 mt-md-0">
                    <div class="d-grid">
                        <input class="btn btn-primary def-btn" id="searchPass" type="button" value="Пошук" />
                    </div>
                </div>
            </div>
            <div class="row mt-3 container">
                <label class="row col-md-auto text-db text-center">
                    <span class="col-md-auto mt-md-2"><strong>Розшифровка кольорів:</strong></span>
                    <span class="col-md-auto  mt-md-2"><mark style="background-color: green">Зелений:</mark> Пароль знайдено,</span>
                    <span class="col-md-auto  mt-md-2"><mark style="background-color: yellow">Жовтий:</mark> Паролю нема в базі,</span>
                    <span class="col-md-auto  mt-md-2"><mark style="background-color: red">Червоний:</mark> Помилка. Необролюємий хеш.</span>
                </label>
                <label class="row col-md-auto text-db text-center">
                    <span class="col-md-auto mt-md-2"><strong>Хеші які підтримує пошук:</strong></span>
                    <span class="col-md-auto  mt-md-2">MD5,</span>
                    <span class="col-md-auto  mt-md-2">SHA1,</span>
                    <span class="col-md-auto  mt-md-2">SHA256,</span>
                    <span class="col-md-auto  mt-md-2">SHA384,</span>
                    <span class="col-md-auto  mt-md-2">SHA512.</span>
                </label>
            </div>
            @*<label class="text-db"><strong>Розшифровка кольорів:  </strong> <mark style="background-color: green">  Зелений:  </mark>  Пароль знайдено,  <mark style="background-color: yellow">  Жовтий:  </mark>  Паролю нема в базі,  <mark style="background-color: red"> Червоний:  </mark>  Помилка. Необролюємий хеш.</label>*@
        </form>
    </div>
</section>
<section>
    <table id="table_search_db" class="table-db">
    </table> 
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="banner d-flex align-items-start">
                    <i class="far fa-user fa-3x mt-0 banner-icon"></i>
                    <div class="banner-text">
                        <h4>Хто ви?</h4>
                        <p>Хмарний сервіс, який намагається відновити паролі (хеші), отримані законним шляхом (пентест, аудит, ...) для професійних/корпоративних користувачів.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner d-flex align-items-start">
                    <i class="fas fa-database fa-3x mt-0 banner-icon"></i>
                    <div class="banner-text">
                        <h4>Який пароль?</h4>
                        <p>Ми підтримуємо більшість хеш-алгоритмів які існують у світі, зокрема SHA1, MD5, SHA256, SHA384, SHA512,... <a class="text-decoration-none" href="https://hashcat.net/wiki/doku.php?id=example_hashes">Повний список тут!</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner d-flex align-items-start">
                    <i class="far fa-comments fa-3x mt-0 banner-icon"></i>
                    <div class="banner-text">
                        <h4>Як отримати підтримку?</h4>
                        @*Оновити після публікації силка на email не працює*@
                        <p><a class="text-decoration-none" href="/FAQ">Часті запитання</a> або <a href"mailto:WebHashcat@protonmail.com">прямий email</a>. Ми відповідаємо протягом 2-48 годин.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="banner d-flex align-items-start">
                    <i class="fas fa-plus fa-3x mt-0 banner-icon"></i>
                    <div class="banner-text">
                        <h4>Хто буде користуватися вашими послугами?</h4>
                        <p>Професійні користувачі: Експерти з ІТ-безпеки, тестувальники проникнення, судові експерти, аудитори, ...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner d-flex align-items-start">
                    <i class="fas fa-cloud fa-3x mt-0 banner-icon"></i>
                    <div class="banner-text">
                        <h4>На основі хмарних обчислень</h4>
                        <p>Ми використовуємо провідну хмарну платформу <b>Microsoft Azure</b> для виконання величезної кількості обчислень. Вам не потрібно встановлювати жодного (поганого) програмного забезпечення на свій комп'ютер. Просто завантажте ваші хеші на наш сайт і чекайте на результат.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner d-flex align-items-start">
                    <i class="fas fa-dollar-sign fa-3x mt-0 banner-icon"></i>
                    <div class="banner-text">
                        <h4>Ціноутворення</h4>
                        <p>
                            Якщо пароль є в нашій базі, ми віддаємо його вам безкоштовно, без реєстрації, без обмежень. В іншому випадку ви маєтє можливість його відновити зареєструвавшись у нас на сайті в особистому кабінеті, за демократичними цінами.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/searchDb.js"></script>