@model WebHashcat.ViewModels.DataLookupTableViewModel

@*<div class="body_search_db">
    <div class="conteiner_search_db">
        <textarea class="textarea_search_db" placeholder="Додайте свій хеш..."></textarea>
        <table>
            <tr>
                <th class="th">Хеш</th>
                <th class="th">Тип</th>
                <th class="th">Результат</th>
            </tr>
            <tr>
                <td class="td">afsfdas</td>
                <td class="td">Unknown</td>
                <td class="td">Unrecognized hash format.</td>
            </tr>
        </table>
        <pre class="text_info1"><strong>Color Codes: </strong> <mark class="m1"> Green: </mark> Exact match, <mark class="m2"> Yellow: </mark> Partial match, <mark class="m3"> Red: </mark> Not found. </pre>
    </div>
</div>*@