@model WebHashcat.Models.HashcatArguments
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/cabinet.css" asp-append-version="true" />
</head>

<div class="container">
    <div>
        <div class="profile_tab">
            <div class="profile_menu">
                <ul class="menu">
                    <li class="active" href="#Menu_1"><a>Hash crack</a></li>
                    <li href="#Payment"><a>Payment</a></li>
                    <li href="#Value"><a>Value</a></li>
                    <li><a>Log out</a></li>
                </ul>
            </div>
            <div class="separator" />
            <div class="profile_window">
                <div class="profile_content active" id="profile_1">
                    <select asp-for="HashType" asp-items="Html.GetEnumSelectList<Domain.Models.HashType>()" id="attackModeSelect">
                        <option selected="selected">Select hash...</option>
                    </select>
                    <span asp-validation-for="HashType" class="text-danger">ATTACK</span>
                    <input asp-for="Hash" placeholder="Hash" id="hash" />
                    <span asp-validation-for="Hash" class="text-danger">HASH</span>
                    <button type="submit" id="startCrackBtn">START CRACK</button>

                    @* <p id="hashcatResult"></p> *@

                    <table id="hashcatResultsTable">

                    </table>
                </div>
                <div class="profile_content" id="profile_2">Надпись 2</div>
                <div class="profile_content" id="profile_3">Надпись 3</div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/hashcat.js"></script>