/*Авторизация - Регистрация*/
.autorith {
    margin-top: 170px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container_authorization {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}

.block {
    height: 100%;
    background-color: rgba(6, 29, 80, 0.6);
    box-shadow: 0 5px 45px rgba(12, 88, 252, 0.685);
    display: flex;
    align-items: center;
}

.block-item {
    text-align: center;
    width: 50%;
}

.block-item_title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 10px;
}

.block-item_btn {
    font-size: 16px;
    font-weight: 500;
}

#form-box {
    background-color: #000;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(12, 88, 252, 0.685);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    overflow: hidden;
}

    #form-box.active {
        left: 50%;
    }

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;
    position: absolute;
    transition: 0.5s;
}

.form_restore {
    display: none;
}

.form_signin {
    left: 0;
    transition-delay: 0.25s;
}

.form_signup {
    left: 100%;
    transition-delay: 0s;
}

#form-box.active .form_signin {
    left: -100%;
    transition-delay: 0s;
}

#form-box.active .form_signup {
    left: 0;
    transition-delay: 0.25s
}

.form_title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFF;
}

.form_input {
    width: 100%;
    padding: 10px;
    border: solid 2px #018ed5;
    font-size: inherit;
}
/*Авторизация - Регистрация*/