/*Main page*/
html, body {
    font-size: 16px;
}
.header-container {
    padding: 30px 0px;
}
#content-container {
    min-height: 100%;
    position: relative;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #FFF;
    min-width: 320px;
    background: linear-gradient(#000, #04143f);
    background-attachment: fixed;
    background-size: cover;
}
.visual-style-black {
    background-color: #000;
}
.empty-space {
    height: 100px;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 50px 0;
}
a {
    color: #FFF !important;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! зробити 2 ховери!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.blue:hover {
    color: #0b5a9d !important; 
}
/* Header */
.navbar-dark .navbar-nav .nav-link {
    font-weight: 500;
}
.navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
}
.top-menu .visual-a-blue::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #0b5a9d;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}
.top-menu li a:hover::after {
    transform: scale(1);
}
.top-menu .visual-a-black::after {
    content: '';
    display: block;
    width: 100%;
    color: #000 !important;
    background-color: #000;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}
.top-menu li a:hover::after {
    transform: scale(1);
}
.dropdown-menu li a:hover {
    color: #000;
}
.contant-site {
    margin-top: 100px;
}
header {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
header::before,
header::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(45deg, #0e4cf8, #0934a8, #062372, #030e2e,#01030a, #0e4cf8, #0934a8, #062372, #030e2e,#01030a );
    background-size: 500%;
    z-index: -1;
    animation: animate 30s ease infinite;
}
header::after {
    filter: blur(15px);
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    0% {
        background-position: 0 0;
    }
}
header .navbar-brand {
    font-weight: 600;
    transition: .5s;
}
header .navbar-brand:hover {
    transform: scale(1.1);
}
/* Header */
/* Button */
.def-btn {
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}
.def-btn:hover {
    background-color: #0b5a9d;
    border: 1px solid #FFF;
    color: #FFF;
}
.def-btn:focus {
    background-color: #0b5a9d;
    border: 1px solid #FFF;
}
/* Button */
/* Footer  Закінчити пізнише*/
footer {
    background-color: #000;
    color: #FFF;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 2000;
}
.footer-absolute {
    position: fixed;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}
.footer-content ul li {
    text-align: left;
    margin-right: 10px;
}
.footer-content label {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    margin: 5px;
}
@media (max-width: 438px) {
    footer {
        position: relative;
        height: auto;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-content ul {
        text-align: center;
        margin-top: 10px;
    }
    .footer-content ul li {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .footer-content label {
        font-size: 14px;
        text-align: center;
    }
}
@media (max-width: 992px) and (max-height: 896px) {
    footer {
        position: static !important;
    }
}
@media (min-width: 993px) and (min-height: 897px) {
    footer {
        position: fixed !important;
    }
}
@media (max-height: 730px) {
    footer {
        position: static !important;
    }
}