/*Main page*/
html {
    font-size: 16px;
}
#content-container {
    min-height: 100%;
    position: relative; /* Важно: устанавливаем относительное позиционирование */
}
footer {
    position: absolute;
    bottom: 0; /* Располагаем футер внизу контейнера */
    width: 100%;
    background-color: #f5f5f5; /* Цвет футера */
    padding: 10px;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    /*height: 100vh;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #FFF;
    min-width: 320px;
    background: linear-gradient(#000, #04143f);
    background-attachment: fixed;
    background-size: cover;
}
.visual-style-black {
    background-color: #000;
}
.empty-space {
    height: 100px;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 50px 0;
}
a {
    color: #FFF !important;
}
/* зробити 2 ховери */
a:hover {
    color: #0b5a9d !important; 
}
/* Header */
.navbar-dark .navbar-nav .nav-link {
    font-weight: 500;
}
.navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
}
.top-menu .visual-a-blue::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #0b5a9d;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}
.top-menu li a:hover::after {
    transform: scale(1);
}
.top-menu .visual-a-black::after {
    content: '';
    display: block;
    width: 100%;
    color: #000 !important;
    background-color: #000;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}
.top-menu li a:hover::after {
    transform: scale(1);
}
.dropdown-menu li a:hover {
    color: #000;
}
.contant-site {
    margin-top: 100px;
}
header {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
header::before,
header::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(45deg, #0e4cf8, #0934a8, #062372, #030e2e,#01030a, #0e4cf8, #0934a8, #062372, #030e2e,#01030a );
    background-size: 500%;
    z-index: -1;
    animation: animate 30s ease infinite;
}
header::after {
    filter: blur(15px);
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    0% {
        background-position: 0 0;
    }
}
header .navbar-brand {
    font-weight: 600;
    transition: .5s;
}
header .navbar-brand:hover {
    transform: scale(1.1);
}
/* Header */
/* Footer  Закінчити пізнише*/
.footer {
    background-color: #000;
}
.footer h4 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}
.footer a{
    text-decoration: none;
    transition: all .3s;
}
.footer a:hover {
    color: #0b5a9d;
    text-decoration: underline;
}
.footer a .footer li {
    color: #FFF;
}
/* Footer */
/* Старий код Фул сss
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000, #04143f);
    background-size: cover;
    background-position: center;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: #FFF !important;*/
/*}
button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}
header {
    position: relative;
    top: 2px;
    left: 2px;
    margin-right: 4px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
header::before,
header::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(45deg, #0e4cf8, #0934a8, #062372, #030e2e,#01030a, #0e4cf8, #0934a8, #062372, #030e2e,#01030a );
    background-size: 500%;
    z-index: -1;
    animation: animate 30s ease infinite;
}
header::after {
    filter: blur(15px);
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    0% {
        background-position: 0 0;
    }
}
header .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
    transition: .5s;
}
header .logo:hover {
    transform: scale(1.2);
}
header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    font-size: 16px;
    display: block;
}
header nav ul li a:hover {
    background: #0b5a9d;*/
/*}
header nav ul li ul {
    position: absolute;
    padding-left: 0 !important;
    left: 0px;
    width: 180px;
    background: linear-gradient(#000, #04143f);
    display: none;
}
header nav ul li ul li {
    float: left;
    padding: 0;
    width: 100%;
    border: 1px solid #fff;
}
header nav div div ul li:hover > ul {
    display: initial;
}
.pageContent {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}*/
/*Main page*/