/*Main page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000, #04143f);
    background-size: cover;
    background-position: center;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: white;
}
button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}
header {
    position: fixed;
    top: 2px;
    left: 2px;
    right:2px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-shadow: 0 5px 10px #0b5a9d;
}
header .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #00ff22; /*игнорирует цвет теста*/
    transition: .5s;
}
header .logo:hover {
    transform: scale(1.2);
}
header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    color: #FFF; /*игнорирует цвет теста*/
    font-size: 16px;
    display: block;
}
header nav ul li a:hover {
    background: #0b5a9d; /*отступ с лева*/
    color: #000;
}
nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: linear-gradient(#000, #04143f);
    display: none;
}
nav ul li ul li {
    float: left;
    padding: 0px;
    width: 100%;
    /*border: 1px solid #fff;*/ /*отступ с лева*/
}
nav ul li:hover > ul {
    display: initial;
}
.pageContent {
    margin: 100px 150px 0px 150px;
}
/*Main page*/
/*Поиск по базе*/
/*//////////////////////////////////////////////////////////////ОПТИМИЗИРОВАТЬ КОД/////////////////////////////////////////////////////////////////*/
.container_search_db {
    width: 800px;
    height: 500px;
    outline: solid;
}
.form_search_db{
    outline: solid;
    width: 100%;
    height: 100%;
}
.textarea_search_db {
    height: 64%;
    width: 100%;
    background-color: rgba(6, 29, 80, 0.6);
    box-shadow: 0 5px 45px rgba(12, 88, 252, 0.685);
    color: #FFF;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    transition: all 0.2s;
}
.textarea_search_db:hover {
    cursor: pointer;
    background-color: rgba(9, 42, 114, 0.719);
}
.textarea_search_db::placeholder {
    color: #FFF;
}
/*///////////////////////////////////////////////////////Переписать кнопку/////////////////////////////////////////////////////////*/
.btn_search_db {
    display: flex;
    margin: 0 auto;
}
.table_search_db {
    width: 100%;
    margin: 10px 15px 25px 15px;
}
.th {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}
.td {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}
.text_info1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}
.m1 {
    font-family: 'Montserrat', sans-serif;
    background: #00ff22;
    font-size: 16px;
    font-weight: 500;
}
.m2 {
    font-family: 'Montserrat', sans-serif;
    background: #eeff00;
    font-size: 16px;
    font-weight: 500;
}
.m3 {
    font-family: 'Montserrat', sans-serif;
    background: #ff0000;
    font-size: 16px;
    font-weight: 500;
}
/*Поиск по базе*/
/*Авторизация - Регистрация*/
.autorith {
    margin-top: 170px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.container_authorization {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}
.block {
    height: 100%;
    background-color: rgba(6, 29, 80, 0.6);
    box-shadow: 0 5px 45px rgba(12, 88, 252, 0.685);
    display: flex;
    align-items: center;
}
.block-item {
    text-align: center;
    width: 50%;
}
.block-item_title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 10px;
}
.block-item_btn {
    font-size: 16px;
    font-weight: 500;
}
.form-box {
    background-color: #000;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(12, 88, 252, 0.685);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.form-box.active {
    left: 50%;
}
.form {
    width: 100%;
    padding: 50px;
    font-size: 16px; 
    position: absolute;
    transition: 0.5s;
}
.form_signin {
    left: 0;
    transition-delay: 0.25s;
}
.form_signup {
    left: 100%;
    transition-delay: 0s;
}
.form-box.active .form_signin {
    left: -100%;
    transition-delay: 0s;
}
.form-box.active .form_signup {
    left: 0;
    transition-delay: 0.25s
}
.form_title {
    font-size: 1.5rem;
    font-weight: 500;
    color:#FFF;
}
.form_input {
    width: 100%;
    padding: 10px;
    border: solid 2px #018ed5;
    font-size: inherit;
}
.form_fargot {
    color: #FFF; /*игнорирует цвет теста*/
}
/*Авторизация - Регистрация*/



/*////////////////////////////////////////////////////////////////////////////////////////*/
/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}*/
/*Шапка сайта*/
/*.body_header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000, #04143f);
    background-size: cover;
    background-position: center;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 2px;
    left: 2px;
    right: 2px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

header::before,
header::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(45deg, #0e4cf8, #0934a8, #062372, #030e2e,#01030a, #0e4cf8, #0934a8, #062372, #030e2e,#01030a );
    background-size: 500%;
    z-index: -1;
    animation: animate 30s ease infinite;
}

    header::after {
        filter: blur(10px);
    }

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    0% {
        background-position: 0 0;
    }
}

header .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #FFF;
    transition: .5s;
}

header .logo:hover {
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 15px 20px;
    color: #FFF;
    letter-spacing: 3px;
    transition: .4s ease;
    z-index: 1;
    display: block;
}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: linear-gradient(#000, #04143f);
    display: none;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}

nav ul li:hover > ul {
    display: initial;
}*/

/*Шапка сайта*/
/*Карточки продуктов*/
/*.body_card {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    top: 300px;
    display: flex;
    justify-content: space-around;
}

.content {
    position: relative;
    padding: 40px;
    color: #FFF;
}

.content h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 160px;
    line-height: 1.1;
    color: rgba(255,255,255,.06);
    transition: .5s;
}

.content h3 {
    margin: 0 0 10px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1.2;
}

.content p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.2;
}

.content button {
    cursor: pointer;
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    transition: .5s;
    transform: translatey(-40px);
    opacity: 0;
    text-transform: uppercase;
    font-size: 12px;
    z-index: 1;
}

.content button::before {
    color: #000;
    background-color: #FFF;
}

.box {
    width: 400px;
    min-height: 680px;
    cursor: pointer;
    position: relative;
    background-color: #040a20;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    border: 1px solid rgba(0, 0, 0, .5);
}

.box:hover .content h2 {
    top: -140px;
}

.box:hover .content button {
    transform: translatey(0);
    opacity: 1;
    visibility: visible;
}

.box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255,255,255,.06);
}

.box::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background-color: #FFF;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

.box:nth-child(1)::before {
    background: linear-gradient(#04143f, #0e4cf8);
}

.box:nth-child(2)::before {
    background: linear-gradient(#04143f, #0e4cf8);
}

.box:nth-child(3)::before {
    background: linear-gradient(#04143f, #0e4cf8);
}*/

/*Карточки продуктов*/
/*Авторизация/Регистрация*/
/*.body_authorization {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(#000, #04143f);
}

.container_authorization {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}

.block {
    height: 100%;
    background-color: rgba(6, 29, 80, 0.6);
    box-shadow: 0 5px 45px rgba(12, 88, 252, 0.685);
    display: flex;
    align-items: center;
}

.block-item {
    text-align: center;
    width: 50%;
}

.block-item_title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 10px;
}

.block-item_btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #FFF;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.form-box {
    background-color: #FFF;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(12, 88, 252, 0.685);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.form-box.active {
    left: 50%;
}*/

/*Авторизация/Регистрация*/
/*Поиск по базе*/
/*.body_search_db {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner_search_db {
    width: 800px;
    height: 500px;
}

.textarea_search_db {
    height: 80%;
    width: 100%;
    background-color: rgba(6, 29, 80, 0.6);
    box-shadow: 0 5px 45px rgba(12, 88, 252, 0.685);
    color: #FFF;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    transition: all 0.2s;
}

.textarea_search_db:hover {
    cursor: pointer;
    background-color: rgba(9, 42, 114, 0.719);
}

.textarea_search_db::placeholder {
    color: #FFF;
}

.btn_search_db {
    position: relative;
    left: 20px;
    top: -231px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #000;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.text_info1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

.m1 {
    font-family: 'Montserrat', sans-serif;
    background: #00ff22;
    font-size: 16px;
    font-weight: 500;
}

.m2 {
    font-family: 'Montserrat', sans-serif;
    background: #eeff00;
    font-size: 16px;
    font-weight: 500;
}

.m3 {
    font-family: 'Montserrat', sans-serif;
    background: #ff0000;
    font-size: 16px;
    font-weight: 500;
}

.th {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.td {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}*/
/*Поиск по базе*/