@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Придумайте пароль адміністратора</p>
    <input type="password" id="newPassword"/>
    <input type="submit" value="Зберегти пароль" id="changeDefPassBtn"/>
</div>

<script src="~/js/changePassword.js"></script>