@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row container register-admin">
        <div class="form-group mt-3">
            <label style="color:#FFF;">Придумайте пароль адміністратора</label>
            <input type="password" id="newPassword" class="form-control mt-1" />
            <input type="button" value="Зберегти пароль" id="changeDefPassBtn" class="btn btn-primary def-btn mt-2"/>
            <label style="color:red;" id="showErrorMessage"></label>
        </div>
    </div>
</div>

<script src="~/js/setPassword.js"></script>