<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebHashcat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebHashcat.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home", new {Area = ""})" class="logo">LOGOTIPE</a>
         <nav>
             <ul>
                 @*<li>
                    <a href="@Url.Action("Index", "Home", new {Area = "Cabinet"})">Кабінет</a>
                 </li>*@
                <li>
                    <a href="#">Послуги</a>
                    <ul>
                        <li><a href="#">Brute</a></li>
                        <li><a href="#">Склеювання словників</a></li>
                        <li><a href="#">Telegram Bot</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Скачування</a>
                    <ul>
                        <li><a href="#">Мобільний додаток</a></li>
                        <li><a href="#">Додаток</a></li>
                    </ul>
                </li>
                <partial name="_LoginPartial"/>
             </ul>
         </nav>
    </header>
    <div class="pageContent">
        @RenderBody()
    </div>
    @*<footer class="border-top footer text-muted">
        <div>
            &copy; 2023 - WebHashcat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    @*<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="indxe.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" defer asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>