@using Domain.Models;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using System.IdentityModel.Tokens.Jwt;

<li class="nav-item" id="balanceLi" style="display: none;">
    <a id="showBalance" class="nav-link"></a>
</li>

<li class="nav-item" id="emailLi" style="display: none;">
    <a id="showEmail" class="nav-link" href="@Url.Action("Index", "Home", new {Area = "Cabinet"})" title="Кабінет"></a>
</li>

<li class="nav-item" id="logoutLi" style="display: none;">
    <a id="logoutBtn" class="nav-link" href="#" >
        <i class="fas fa-door-open"></i>
    </a>
</li>

<li class="nav-item" id="loginLi">
    <a class="nav-link visual-a-blue" href="@Url.Action("Login", "Account", new {Area = "Identity"})">Авторизація</a>
</li>