@{
    ViewData["Title"] = "Confirm email";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p style="color: #FFF; text-align: center; font-size: 20px;">Пошта успішно підтверджена. Очікуйте автоматичного переходу до авторизації. </p> 
    <p style="color: #FFF" id="timer">5</p>
</div>

<script src="~/js/emailConfirm.js"></script>