@model WebHashcat.Models.ResetPassword
@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<input asp-for="Email" type="hidden" value="@Model.Email" name="Email" class="form-control" />*@

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">NewPassword:</label>
                <input asp-for="NewPassword" name="NewPassword" type="password" class="form-control" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            @*<input asp-for="Token" type="hidden" name="Token" value="@Model.Token" class="form-control" />*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>