@{
    ViewData["Title"] = "Admin panel";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/adminPanel.css" asp-append-version="true" />
</head>

<div class="container">
    <div class="bg-dark box-shadow-custom rounded d-flex d-sm-row static-content">
        <div class="profile-tab-nav border-right menu-container col-2.5">
            <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="hash-crack-tab" data-bs-toggle="pill" data-bs-target="#hash-crack" role="tab" aria-controls="hash-crack" aria-selected="true">
                    <i class="fas fa-file text-center me-1"></i>
                    <span>Оновлення таблиці пошуку та словників</span>
                </a> 
                @*<a class="nav-link" id="password-tab" data-bs-toggle="pill" data-bs-target="#password" role="tab" aria-controls="password" aria-selected="false">
                    <i class="fas fa-lock text-center me-1"></i>
                    <span>Зміна паролю</span>
                </a>*@
            </div>
        </div>
        <div class="tab-content content-container p-4 flex-grow-1 col-9.5" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="hash-crack" role="tabpanel" aria-labelledby="hash-crack-tab">
                <h1>Оновлення таблиці пошуку та словників</h1>
                <input type="file" id="fileInput" multiple accept="text/plain" style="display: none;">
                <br>
                <div id="dragArea">
                    <i for="fileInput" id="fileInputBtn" class="fas fa-file-circle-plus" style="cursor: pointer"></i>
                    Перетягніть файл сюди
                </div>
                <br>
                <div id="fileInfo"></div>
                <br>
                <button id="uploadDataToLookupTableBtn" class="btn btn-primary def-btn mt-2" disabled>Додати дані до таблиці пошуку</button>
                <button id="uploadWordlistToServerBtn" class="btn btn-primary def-btn mt-2" disabled>Завантажити словник(и) на сервер</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/adminPanel.js"></script>